---
title: Yves Rene Shema Github main page
layout: null
---
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <title>{{ page.title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    {% seo %}
  </head>
  <body ontouchstart="">
    <header class="banner">
        <div class="container">
          {% include mobile-nav.html %}            
            <div class="wrapper"> 
                <div id="avatar">
                  <img src="/assets/images/yveshema.png" alt="Profile photo" />                 
                    
                  <span>
                    <i class="material-icons">location_on</i> Vancouver, BC Canada
                  </span>                 
                    
                  <span>
                    <a href="https://github.com/yveshema">
                      <i class="material-icons">link</i> 
                      https://github.com/yveshema
                    </a>
                  </span>
                  
                </div>               
                
                <div class="intro">
                    {% include main-nav.html %}
                    
                    <p id="my-name">Hi! I am</p> 
                    {% assign profile= site.data.profile %}   
                    <h1>{{ profile.fullname }}</h1>
                </div>
            </div>
            <p>{{ profile.description }}</p>
            <p><a href="{{ profile.website }}" target="_blank" class="resume">More about me here</a></span>
            </p>            
        </div>  
    </header>
    <main class="container">
        <section>
          {% assign post = site.posts.first %}
          <h2>{{ post.title }}</h2>
          <p class="post-meta">{{ post.date | date_to_string }} - by {{ post.author }}</p>
          {{ post.content }}
        </section>
        <aside>
          <div class="sidebar">
            {% include latest-posts-widget.html %}
            {% include categories-widget.html %}
            {% include tags-widget.html %}
          </div>          
        </aside>
    </main>
    {% include footer.html %}
  </body>
</html>
