<h3 class="taglist">Tags</h3>
<ul class="all-tags">
    <li class="post">
        <p class="meta">List of All Tags</p>
        <p class="taglist">
            {% for tag in site.tags %}
            <a href="{{ tag[0] | downcase | slugify | prepend:'/tags/' | prepend: site.baseurl }}">{{ tag[0] }}</a> 
            {% endfor %}       
        </p>       
    </li>
</ul>

{% for post in site.posts %}
    {% assign month = post.date | date: '%m%Y' %}
    {% assign next_month = post.next.date | date: '%m%Y' %}
    {% if month != next_month %}
        {% if forloop.index != 1 %}
            </ul>
        {% endif %}

        <h3 class="year-month">
            <a href="{{ post.date | date: '/%Y/%m/' | prepend: site.baseurl }}">
                {{ post.date | date: '%b %Y' }}
            </a>
        </h3>
        <ul>
    {% endif %}

    {% include archive_postlisting.html %}
{% endfor %}