{% for post in site.posts %}
    {% assign postyear = post.date | date: '%Y' %}    
    {% assign postmonth = post.date | date: '%m%Y' %}
    {% assign nextpostmonth = post.next.date | date: '%m%Y' %}    

    {% if postyear == page.year %}
        {% if postmonth != nextpostmonth %}
            {% if forloop.index != 1 %}
                </ul>
            {% endif %}

            <h3 class="month">
                <a href="{{ post.date | date: '/%Y/%m/' | prepend: site.baseurl }}">
                    {{ post.date | date: '%B' }}
                </a>
            </h3>
            <ul>
        {% endif %}

        {% include archive_postlisting.html %}
    {% endif %}
{% endfor %}