.card {
    border-radius: 5px;   
    box-shadow: 2px 5px 4px 2px #ccc;
}
.repo-card {
    width:98%;
    padding:2%;
    
    a {
        color:inherit;
    }

    h4 {        
        font-size: 1.2em;
    }
}
.repo-card-meta {
    font-weight: lighter;
    margin-top: 1em;
    span {
        display:block;
    }    
}
