h1,h2,h3 {
    margin:1em 0;
}
h4,h5,h6, p {
    margin:1em 0;
}

.post-meta {
    font-size: 1em;
    margin-top: -2em; //pull the post metadata closer to the heading
    font-style: italic;    
}
.container {
    width: 90%;
    margin:0 auto; 
    display: flow-root; 
}

section, aside {
    padding:1em 0;
}

section {    
    width: 60%;
    margin-right: 2%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

main:after {
    content: "";
    display: block;
    clear: both;
}

header.banner {
    padding:1em 0;
    background-color:$main-theme-color;

    #avatar {
        width: 30%;
        margin: 1em;
        float: left;
        img {
            max-width: 60%;            
        }
        a {
            font-size: 16px;
        }
        
        span {
            display:block;
            color: $secondary-color;
            font-size: 16px;            
        }
    }
    
    .intro {
        width:60%;
        float: right;

        li {                     
            float:left;
        }

        ul:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    li {
        text-align: center;
    }

    a {            
        color:$secondary-color; 
        font-size: 1.5em;           
    }

    .wrapper {
        border: 1px solid $complementary-color;        

        &:after {
            content: "";
            display: block;
            clear:both;
        }        
    } 
    
    .navigation {
        margin-bottom: 2em;        
    }

    //Fix the navigation alignment issue
    .navigation nav {
        margin-left: -2em;
    } 
    
    .current {
       background-color: $complementary-color;
    }    

    h1 {
        margin:0;
        font-size: 4em;        
        color: $secondary-color;        
    }

    p {
        font-size: 1.5em;
        line-height:1.8;
        color: #fff;
    }  
    
    .resume {
        text-decoration: underline;
        font-size: 1.2em;
        color: $secondary-color;
        letter-spacing: 1px;
    }
      
}

//Hide the hamburger menu on large screens
.menu {
    display:none;
}

@media screen and (max-width: 768px){
    header.banner {
        .container {
            position:relative;            
        }
        
        li {
           text-align: left;
        }
    
        #avatar {            
            margin:0 auto 2em auto;
            float:none;
            
            img {
                max-width: 150px;            
            }
            a {
                font-size: 16px;
            }
            
            span {
                display:block;
                min-width: 30em;
                color: $secondary-color;
                font-size: 16px;            
            }
        }

        .intro {
            width:100%;
            float: none;
            text-align:center;
        }
    
        .wrapper {
            border: none;
            a {            
                color:$secondary-color; 
                font-size: 1.5em;           
            }                 
        }
    
        h1 {
            font-size: 3em;        
            color: $secondary-color;
        }
    
        p {
            font-size: 1.5em;
            line-height:1.6;
            color: #fff;
        }  
        #resume a {
            display:inline-block;
            padding: 2px;
            border-radius: 5px;
            font-weight: bold;
            background: $complementary-color;
            color:#fff;
        }  
          
    }

    section, aside {
        width:100%;
        float:none;
        padding:1em 0;
        margin:0;
    }
    //hide the main navigation and show the hamburger menu
    .banner nav {
        display:none;
    }
    
    /* remove default styles, margins and any padding */
    .menu, .menu * {
        margin:0;
        padding-top:2px;
        list-style:none;
    }

    .menu {
        width:100%;
            
        display:block;

        li {
            width: 100%;
            color: $secondary-color;
        }

        ul {            
            display:none;
            li {
                padding:0.5em 0;
                border-bottom:1px solid $complementary-color;
                text-align:center;
                color: $heading-color;
            }
            
            li:first-child {
                font-size: 1.5em;
                font-weight: bold;
                background: $complementary-color;
                color: $secondary-color;
            }

            a {
                color: inherit;
            }
        }
        
        & > li:focus-within ul {            
            display:block;
            position:fixed;            
            top:0;
            left: 0;
            background: $secondary-color;
            width: 60vw;
            min-height: 100vh;
        }
    }     
}

footer {
    background-color: $complementary-color;
    color: $main-theme-color;
    padding:2em 0;
    p {
        color: #fff;
    }
    text-align: center;
}





