.banner li {    
    width:8rem;
    float:left;
}

.banner ul:after {
    content: "";
    display:block;
    clear:both;
}

.latest li {
    border-bottom: 0.5px dotted #555;
    margin-bottom: 1em;
}

.tags li {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 2px;
    background: #cecece;
}