.banner li {
    // width:8rem;
    display: inline-block;
    margin-right: 4vw;
    float:left;
}

.banner ul:after {
    content: "";
    display:block;
    clear:both;
}

.latest li {
    border-bottom: 0.5px dotted #555;
    margin-bottom: 1em;
}

.tags-widget li {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 2px;
    background: #cecece;
}

.taglist a {
    text-shadow: 2px 2px 2px $heading-color;
}
