@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i&display=swap');

body {
    font-family: 'Crimson Text', serif;
}

h2, h3 {
    color: $heading-color;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.5em;
    color: #555;
}

a {
    color:inherit;
}

a[title="reference"]{
    text-decoration: underline;
}

code {
    font-size:0.6em;
}

.widget a {
    font-size: 1.2em;
    color: #555;
}

.widget h3 {
    text-align: center;
}

