<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    <title>{{ page.title }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    {% seo %}
  </head>
  <body ontouchstart="">
    {% include header.html %}
    <main class="container">
      {% include breadcrumbs.html %}
      <section>{{ content }}</section>
      <aside>
        <div class="sidebar">
          {% include search-google.html %}
          {% include latest-posts-widget.html %}
          {% include categories-widget.html %} 
          {% include tags-widget.html %}
        </div>               
      </aside>
    </main>    
    {% include footer.html %}
  </body>
</html>
